.menu {
  float: right;
  text-align: right;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 4px;
  /* width: 100%; */
  text-align: left;
}

.main-content {
  margin: 0 auto;
  width: 80%;
  max-width: 960px;
  text-align: left; /* This is often the default, but it's good to be explicit. */
}
